<div class="container-fluid">
	<div class="row">
    <%=render "menus/main" %>
    <%=render "menus/mobile" %>	
    </div>
    <div class="row d-xl-none d-lg-none d-md-none d-sm-none d-block">
    	<div class="col-12 text-center" style="background: url('https://image.freepik.com/free-photo/portrait-two-lovely-african-sisters-hugging_171337-5405.jpg')no-repeat;background-size: cover;background-position: center;height: 30vh;">
    	</div>
        <div class="col-12 m-top-big">
            <div class="row text-center">
                <div class="col-12">
                    <h5 class="titre">Que voulez-vous faire?</h5>
                </div>
                <div class="col-8 offset-2 m-top">
            <a href="/menus" class="btn btn-kit-red btn-block text-maj">
                <small>Appui COVID-19</small>
            </a>

        </div>
        <div class="col-8 offset-2 m-top">
            <a href="#" class="btn btn-kit-yellow btn-block text-maj">
                <small>Opérations E-commerce</small>
            </a>

        </div>
            </div>
        </div>
    </div>
</div>
