<div class="container bg-warning p-2">
  <div class="row">
    <div class="col-lg-6 col-3">
      <a href="/"><img src="https://res.cloudinary.com/aseed/image/upload/v1587919681/logo_final_kits_odrfgb.png" class="logo"></a>
    </div>
    <div class="col-lg-6 col-6 text-center">
      <a href="/"><img src="https://cdn.iconscout.com/icon/free/png-256/profile-417-1163876.png" class="logo"></a>
    </div>
        <div class="col-lg-6 col-3 text-center">
          <small><%=current_chef.nom%></small>

    </div>
  </div>
</div>