<nav class="navbar fixed-bottom navbar-light bg-kit-red">
  <div class="container">
  <div class="row">
  	<div class="col-12">
  		<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/">
      <i class="fas fa-home" style="font-size: 24px;"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-phone" style="font-size: 24px;"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-users" style="font-size: 24px;"></i>
    </a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-comments" style="font-size: 24px;"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-chart-bar" style="font-size: 24px;"></i>
    </a>
  </li>
</ul>
  	</div> 
  </div>
</div>
</nav>