<div class="container">
  <div class="row bg-kit-red d-xl-none d-lg-none d-md-none d-sm-none d-block">
  	<div class="col-12">
  		<div class="row">
  			    <div class="col-lg-6 col-3 mt-2 mb-2">
      <a href="/"><img src="https://res.cloudinary.com/aseed/image/upload/v1587919681/logo_final_kits_odrfgb.png" class="logo-niu"></a>
    </div>
        <div class="col-lg-6 offset-lg-0 col-6 offset-3 mt-2 mb-2">
          <%= link_to "connexion", new_chef_session_path, class:"btn btn-kit-yellow-top btn-sm float-right" %>
          

    </div>
  		</div>
  	</div>
  </div>
  <div class="row d-xl-block d-lg-block d-md-block d-sm-block d-none">
  	<div class="col-12">
  		<div class="row">
  			<div class="col-lg-6 col-3 mt-2 mb-2">
      <a href="/"><img src="https://res.cloudinary.com/aseed/image/upload/v1587919681/logo_final_kits_odrfgb.png" class="logo-niu"></a>
    </div>
        <div class="col-lg-6 offset-lg-0 col-6 offset-3 mt-2 mb-2">
          <%= link_to "connexion", new_chef_session_path, class:"btn btn-kit-yellow-top btn-sm float-right" %>
          

    </div>
  		</div>
  	</div>
  </div>
</div>